{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="/register" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" type="text" id="name" name="name" placeholder="Username">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="Password">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="passconf" placeholder="Password (again)">
        </div>
        <button class="btn btn-primary" type="submit" id="submit" disabled>Register</button>
        <script>
            document.querySelector("#name").onkeyup = function() {
                if (document.querySelector("#name").value === '') {
                    document.querySelector("#submit").disabled = true;
                } else {
                    document.querySelector("#submit").disabled = false;
                }
            }
        </script>
    </form>
{% endblock %}
